



 .paragraph {
    font-size: auto;
    padding-left: 11.2em;
   }




  ul {
    font-weight: bold;
    padding-left: 2em;
   }


  li{
    padding-bottom: 0.1em;
    font-size: 0.93em;
    }





  a{
    color: orange;
    
  }

a:hover {
    color: green;
}

img {
    float: left;
    padding: 0.3em 0.5em 0.5em 0.5em;
    width: 4.2em;
    height: auto;
   }


footer{
    border-top: 0.1em solid black;
    padding: 0.3em;
    background-image: linear-gradient(45deg, black 0%, #FFA500 25%, white 100%);
    clear: left;
    text-align: center;
    font-size: 0.9em;
}



 aside ul {
    float: left;
	width: 10em;
	padding-right: 0.063em;
    list-style-type: none;
    margin-left: 1.25em;
    padding: 0;
    
 }


@media only screen and (max-width: 63.8em){}

    
 html {
    font-family:sans-serif;
    background-image: url(../images/bats.gif);
 }
    
    
body {
    max-width: 60em;
    width: 94%;
    margin: 1em auto;
	border: 0px 2px 2px 7px solid black;
    background-color: white;
	box-shadow: 2px 8px 10px 10px black;
 }


    


#nav_menu{
    display: block;
    width: 100%;
    margin: auto;
    padding-left: 1.3em;
    font-weight: 100;
}
    


#nav_menu ul {
	list-style-type: none;
	position:relative;
	margin: 0;
	padding-right: 0px;
}

#nav_menu ul li {
	float: left;
	padding: 0;
    width:auto;
}

#nav_menu ul li a {
	display: block;
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 0.5em 0;
	font-size: 100%;
	width: 10em;
	text-align: center;
	font-weight: 200;
}

#nav_menu ul li a.active {
	color: orange;
}

#nav_menu ul li a:hover, #navigation ul li a:focus {
	background-color: gray;
}

#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

#nav_menu ul ul li {
	float: none;
	position: relative;
	font-size: 92%;
}

#nav_menu ul li:hover > ul {
    display:block;
}

#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

@media only screen and (max-width: 50em){}

.nav_list ul li {
    width: 110px;
	margin-bottom: 0.5em;
	border: 3px solid black;
	padding: 0px;	

}

.nav_list ul li a {
    display: block ;
	text-decoration: none;
	padding: 0.25em 0.5em;
	color: black;
	font-size: 100%;
	background-color: #FFA500;
	font-weight: bold;
}
header {
    border-bottom: 2px solid black;
    background-image: linear-gradient(45deg, white, #FFA500 75%, black 100%);

}

.sub1{
   margin-bottom: 0em;
    margin-top: 0.6em;
    padding: 0.5em 0em 0em 0.12em;
    font-size: 2.1em;
    
    
    
}

.sub2 {
    margin: 0.06em;
    padding-bottom: 0.625em;
    
}

@media only screen and (max-width:30em){}

.sub3 {
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 11.2em;
    
}

.sub4 {
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 11.2em;
    clear: left;
    

}





    

